Repository eic/epic, changes with the labels that .github/labeler.yml gives for each.
All labels: topic: backward, topic: barrel, topic: calorimetry, topic: documentation, topic: far-backward, topic: far-forward, topic: forward, topic: infrastructure, topic: magnets, topic: materials, topic: PID

feat: add front support to BarrelImaging Calorimeter (#608)
  compact/definitions.xml
  compact/ecal/barrel_interlayers.xml
  src/BarrelCalorimeterImaging_geo.cpp
Labels: topic: barrel, topic: calorimetry

definitions.xml: ECal -> Ecal, HCal -> Hcal for ID fields
  compact/definitions.xml
  compact/ecal/backward_PbWO4.xml
  compact/ecal/backward_hybrid.xml
  compact/ecal/barrel_interlayers.xml
  compact/ecal/barrel_sciglass.xml
  compact/ecal/forward_homogeneous.xml
  compact/ecal/forward_insert_homogeneous.xml
  compact/ecal/forward_scfi.xml
  compact/hcal/backward.xml
  compact/hcal/barrel_gdml.xml
  compact/hcal/forward_insert.xml
Labels: topic: backward, topic: barrel, topic: calorimetry, topic: forward

rm compact/unused/ecal_backward_crystal_glass.xml
  compact/unused/ecal_backward_crystal_glass.xml
Labels: none

rm compact/unused/ecal_barrel_hybrid.xml
  compact/unused/ecal_barrel_hybrid.xml
Labels: none

rm compact/unused/ecal_forward_homogenous.xml
  compact/unused/ecal_forward_homogenous.xml
Labels: none

rm compact/unused/ecal_forward_shashlik.xml src/ShashlikCalorimeter_geo.cpp
  compact/unused/ecal_forward_shashlik.xml
  src/ShashlikCalorimeter_geo.cpp
Labels: topic: calorimetry

rm compact/unused/gaseous_rich.xml src/GaseousRICH_geo.cpp
  compact/unused/gaseous_rich.xml
  src/GaseousRICH_geo.cpp
Labels: topic: PID

rm src/CylinderTrackerBarrel_geo.cpp compact/unused/rwell_tracker_barrel.xml compact/unused/mm_tracker_barrel.xml
  compact/unused/mm_tracker_barrel.xml
  compact/unused/rwell_tracker_barrel.xml
  src/CylinderTrackerBarrel_geo.cpp
Labels: topic: barrel, topic: forward

rm compact/unused/tracking_config_mgpds.xml
  compact/unused/tracking_config_mgpds.xml
Labels: none

Remove stuff from compact/unused (#632)
  compact/unused/ecal_backward_crystal_glass.xml
  compact/unused/ecal_barrel_hybrid.xml
  compact/unused/ecal_forward_homogenous.xml
  compact/unused/ecal_forward_shashlik.xml
  compact/unused/gaseous_rich.xml
  compact/unused/mm_tracker_barrel.xml
  compact/unused/rwell_tracker_barrel.xml
  compact/unused/tracking_config_mgpds.xml
  src/CylinderTrackerBarrel_geo.cpp
  src/GaseousRICH_geo.cpp
  src/ShashlikCalorimeter_geo.cpp
Labels: topic: barrel, topic: calorimetry, topic: forward, topic: PID

Update compact/definitions.xml
  compact/definitions.xml
Labels: none

definitions.xml: ECal -> Ecal, HCal -> Hcal for ID fields (#631)
  compact/definitions.xml
  compact/ecal/backward_PbWO4.xml
  compact/ecal/backward_hybrid.xml
  compact/ecal/barrel_interlayers.xml
  compact/ecal/barrel_sciglass.xml
  compact/ecal/forward_homogeneous.xml
  compact/ecal/forward_insert_homogeneous.xml
  compact/ecal/forward_scfi.xml
  compact/hcal/backward.xml
  compact/hcal/barrel_gdml.xml
  compact/hcal/forward_insert.xml
Labels: topic: backward, topic: barrel, topic: calorimetry, topic: forward

updated to use tile gdml files, removed code to use tesselated solid from XML
  compact/hcal/barrel_gdml.xml
  src/BarrelHCalCalorimeter_geo.cpp
Labels: topic: barrel, topic: calorimetry

pull tile files from main
  compact/hcal/barrel_gdml.xml
Labels: topic: barrel, topic: calorimetry

fix results of bad merge - my fault
  compact/definitions.xml
Labels: none

adding craterlake w/o barrel hcal to facilitate overlap checks
  configurations/craterlake_no_bhcal.yml
Labels: none

change workflow to run barrel HCAL G4 overlap check separately
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

feat: re-enable DIRC optical materials
  compact/pid/dirc.xml
Labels: topic: barrel, topic: PID

barrel_gdml.xml: pin to a specific commit in epic-data
  compact/hcal/barrel_gdml.xml
Labels: topic: barrel, topic: calorimetry

Adding craterlake w/o barrel hcal to facilitate overlap checks (#633)
  .github/workflows/linux-eic-shell.yml
  configurations/craterlake_no_bhcal.yml
Labels: topic: infrastructure

break steel geometry down to improve performance
  compact/hcal/barrel_gdml.xml
  src/BarrelHCalCalorimeter_geo.cpp
Labels: topic: barrel, topic: calorimetry

point to main of epic-data for gdml files
  compact/hcal/barrel_gdml.xml
Labels: topic: barrel, topic: calorimetry

fix: cleanup test_ACTS and add visitSurfaces test
  scripts/test_ACTS.cxx
Labels: topic: infrastructure

use explicit hash for gdml files
  compact/hcal/barrel_gdml.xml
Labels: topic: barrel, topic: calorimetry

Update scripts/test_ACTS.cxx
  scripts/test_ACTS.cxx
Labels: topic: infrastructure

fix: cleanup test_ACTS and add visitSurfaces test (#635)
  scripts/test_ACTS.cxx
Labels: topic: infrastructure

Create craterlake_10x275.yml
  configurations/craterlake_10x275.yml
Labels: none

Add 10x275 beam energy config (#636)
  configurations/craterlake_10x275.yml
Labels: none

definitions.xml: set EcalEndcapP_rmax to 172
  compact/definitions.xml
Labels: none

Add 10x275 beam energy config (#636)
  configurations/craterlake_10x275.yml
Labels: none

configurations/full.yml: switch to craterlake.xml
  configurations/full.yml
Labels: none

[24.02] Add 10x275 beam energy config (#636) (#640)
  configurations/craterlake_10x275.yml
Labels: none

.github/labeler.yml:

"topic: backward":
- changed-files:
  - any-glob-to-any-file:
    - "compact/**/backward_*"
    - "compact/**/mrich*"
    - "compact/**/pfrich*"

"topic: barrel":
- changed-files:
  - any-glob-to-any-file:
    - "compact/**/barrel_*"
    - "compact/**/*_barrel.xml"
    - "compact/**/dirc*"
    - "compact/hcal_gdml.xml"
    - "src/Barrel*"
    - "src/SciGlassCalorimeter_geo.cpp"

"topic: calorimetry":
- changed-files:
  - any-glob-to-any-file:
    - "compact/ecal/**/*"
    - "compact/hcal/**/*"
    - "compact/hcal_gdml.xml"
    - "src/*Calorimeter*"

"topic: documentation":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.md"

"topic: far-backward":
- changed-files:
  - any-glob-to-any-file:
    - "compact/far_backward/**"
    - "src/Backwards*"

"topic: far-forward":
- changed-files:
  - any-glob-to-any-file:
    - "compact/far_forward/**"
    - "src/Forward*"
    - "src/B0*"
    - "src/ZDC*"
    - "src/ZeroDegreeCalorimeter*"

"topic: forward":
- changed-files:
  - any-glob-to-any-file:
    - "compact/**/forward_*"
    - "compact/**/drich*"
    - "src/*Tracker*"

"topic: infrastructure":
- changed-files:
  - any-glob-to-any-file:
    - ".*"
    - ".github/**/*"
    - "CMakeLists.txt"
    - "bin/**/*"
    - "doc/**/*"
    - "macro/**/*"
    - "reports/**/*"
    - "requirements.txt"
    - "scripts/**/*"
    - "templates/setup.sh.in"
    - "views/**/*"

"topic: magnets":
- changed-files:
  - any-glob-to-any-file:
    - "compact/far_backward/magnets.xml"
    - "compact/far_forward/magnets.xml"
    - "compact/fields/**/*"
    - "compact/fields.xml"
    - "compact/solenoid.xml"

"topic: materials":
- changed-files:
  - any-glob-to-any-file:
    - "compact/materials.xml"
    - "compact/optical_materials.xml"

"topic: PID":
- changed-files:
  - any-glob-to-any-file:
    - "compact/pid/**/*"
    - "compact/tracking/**/tof_*"
    - "src/*RICH*"
    - "src/*DIRC*"
    - "src/*TOF*"
    - "src/MRich*"

"topic: tracking":
- all:
  - changed-files:
    - any-glob-to-any-file:
      - "compact/tracking/**/*"
      - "src/*Tracker*"
    - all-globs-to-all-files:
      - "!compact/tracking/**/tof_*"
