Repository eic/epic, changes with the labels that .github/labeler.yml gives for each.
All labels: topic: backward, topic: barrel, topic: calorimetry, topic: documentation, topic: forward, topic: infrastructure, topic: materials, topic: PID, topic: tracking

43 rework backwards geometry for flexible studies (#50)
  ip6.xml
  ip6/far_backward.xml
  ip6/far_backward/definitions.xml
  ip6/far_backward/lumi.xml
  ip6/far_backward/magnets.xml
  ip6/far_backward/taggers.xml
  ip6/far_backward/vacuum.xml
  ip6/ip6_display.xml
  ip6_arches.xml
  ip6_brycecanyon.xml
  src/BackwardsBeamPipe_geo.cpp
  src/BackwardsCollimator.cpp
  src/BackwardsTagWin_geo.cpp
  src/BackwardsTracker_geo.cpp
  src/BackwardsVacBox_geo.cpp
  src/BackwardsVacDrift_geo.cpp
  src/BackwardsVacuum_geo.cpp
  src/CylindricalDipoleMagnet_geo.cpp
  src/ForwardRomanPot_geo.cpp
  src/OffMomentumTracker_geo.cpp
  src/TaggerTracker_geo.cpp
  src/Timepix_geo.cpp
  src/ZDC_Crystal_geo.cpp
  src/ZDC_ImagingCal_geo.cpp
  src/ZDC_SamplingCal_geo.cpp
  src/ZeroDegreeCalorimeterEcalWSciFi_geo.cpp
Labels: topic: calorimetry, topic: forward, topic: tracking

hotfix: synchronize IP6 ID numbers again
  compact/definitions.xml
Labels: none

feat: delete identical files; move unique files
  ip6/bin/dawn_tweak
  ip6/bin/generate_prim_file
  ip6/bin/make_dawn_views
  ip6/macro/dawn_picture.mac
  ip6/macro/dawn_picture2.mac
  ip6/macro/vis.mac
  ip6/scripts/checkOverlaps.py
  ip6/scripts/input_data/few_events.hepmc
  ip6/templates/setup.sh.in
  macro/b0_vis.mac
  views/view50.yml
  views/view50/.DAWN_1.history
  views/view50/generate_eps
Labels: topic: infrastructure

feat: remove duplicate files
  ip6/.clang-format
  ip6/.pre-commit-config.yaml
Labels: none

rm views/view50/.DAWN_1.history
  views/view50/.DAWN_1.history
Labels: topic: infrastructure

fix: add BEAMLINE variables to setup.sh for now
  templates/setup.sh.in
Labels: topic: infrastructure

feat: find ip6 files in DETECTOR_PATH
  templates/epic.xml.jinja2
Labels: none

fix: remove ip6 from workflow
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

fix: remove ip6 from linux-lcg workflow
  .github/workflows/linux-lcg.yml
Labels: topic: infrastructure

hotfix: synchronize IP6 ID numbers again (#270)
  compact/definitions.xml
Labels: none

fix: use ROOT::GDML
  CMakeLists.txt
Labels: topic: infrastructure

.github/labeler.yml:

"topic: backward":
  - "compact/**/backward_*"

"topic: barrel":
  - "compact/**/barrel_*"
  - "compact/**/*_barrel.xml"
  - "compact/**/dirc*"
  - "compact/hcal_gdml.xml"
  - "src/Barrel*"
  - "src/SciGlassCalorimeter_geo.cpp"

"topic: calorimetry":
  - "compact/ecal/**/*"
  - "compact/hcal/**/*"
  - "compact/hcal_gdml.xml"
  - "src/*Calorimeter*"

"topic: documentation":
  - "**/*.md"

"topic: far-forward": []

"topic: forward":
  - "compact/**/forward_*"
  - "compact/**/*rich*"
  - "src/*Tracker*"

"topic: infrastructure":
  - ".*"
  - ".github/**/*"
  - "CMakeLists.txt"
  - "bin/**/*"
  - "doc/**/*"
  - "macro/**/*"
  - "reports/**/*"
  - "requirements.txt"
  - "scripts/**/*"
  - "templates/setup.sh.in"
  - "views/**/*"

"topic: materials":
  - "compact/materials.xml"
  - "compact/optical_materials.xml"

"topic: PID":
  - "compact/pid/**/*"
  - "compact/tracking/**/tof_*"
  - "src/*RICH*"
  - "src/*DIRC*"
  - "src/*TOF*"
  - "src/MRich*"

"topic: tracking":
  - any: ["compact/tracking/**/*", "!compact/tracking/**/tof_*"]
  - "src/*Tracker*"
