Repository eic/epic, pull requests merged in 2022-12, with the labels that each got.

#324 dRICH: add airgap volume between aerogel in filter
  src/DRICH_geo.cpp
Labels: topic: PID

#320 feat!: remove redundant `*RICH_RECON` constants
  compact/pid/drich.xml
  compact/pid/pfrich.xml
  src/DRICH_geo.cpp
  src/PFRICH_geo.cpp
Labels: topic: forward, topic: PID

#325 BarrelCalorimeterSciGlass: allow specifying azimuthal flaring angle for towers
  doc/sciglass_tower_front_view.svg
  src/BarrelCalorimeterSciGlass_geo.cpp
Labels: topic: infrastructure, topic: barrel, topic: calorimetry

#316 Modification of ZDC (ecce-style) placement.
  compact/far_forward/ZDC.xml
  compact/far_forward/ZDC_Crystal.xml
  src/ZDC_Crystal_geo.cpp
  src/ZDC_ImagingCal_geo.cpp
  src/ZDC_SamplingCal_geo.cpp
  src/ZeroDegreeCalorimeterEcalWSciFi_geo.cpp
  src/ZeroDegreeCalorimeterEcal_geo.cpp
  src/ZeroDegreeCalorimeterSampling_geo.cpp
Labels: topic: calorimetry, topic: far-forward

#323 Extend far bwd magnets
  compact/definitions.xml
  compact/far_backward.xml
  compact/far_backward/beamline_electron.xml
  compact/far_backward/beamline_hadron.xml
  compact/far_backward/definitions.xml
  compact/far_backward/magnets.xml
  src/BeamPipeChain_geo.cpp
  src/CylindricalMagnetChain_geo.cpp
Labels: topic: far-backward

#335 Uncomment settings for high-acceptance, comment out high-divergence.
  compact/far_forward/roman_pots_eRD24_design.xml
Labels: topic: far-forward

#283 Refactor DD4hep/Acts integration
  README.md
  compact/central_beampipe.xml
  compact/definitions.xml
  compact/far_forward/B0_tracker.xml
  compact/tracking/mpgd_barrel.xml
  compact/tracking/mpgd_dirc.xml
  compact/tracking/silicon_barrel.xml
  compact/tracking/silicon_disks.xml
  compact/tracking/tof_barrel.xml
  compact/tracking/tof_endcap.xml
  compact/tracking/vertex_barrel.xml
  src/B0Preshower_geo.cpp
  src/B0Tracker_geo.cpp
  src/BarrelTrackerWithFrame_geo.cpp
  src/CompositeTracker_geo.cpp
  src/CylinderTrackerBarrel_geo.cpp
  src/DD4hepDetectorHelper.h
  src/EndcapTOF_geo.cpp
  src/IP6BeamPipe.cpp
  src/MPGDDIRC_geo.cpp
  src/OffMomentumTracker_geo.cpp
  src/SimpleDiskDetector_geo.cpp
  src/TrapEndcapTracker_geo.cpp
  templates/epic.xml.jinja2
Labels: topic: documentation, enhancement, topic: tracking, topic: barrel, topic: forward, topic: PID, topic: far-forward

#339 fix: require DD4hep 1.21 in CMakeLists.txt
  .github/workflows/linux-lcg.yml
  CMakeLists.txt
Labels: topic: infrastructure

#341 fix: convert to gdml and tgeo (root) for export to gh-pages
  .github/workflows/linux-eic-shell.yml
  .gitignore
  Gemfile
  README.md
  _config.yml
  _layouts/geoviewer.html
  reports/arches_views.md
  reports/artifacts.md
  reports/brycecanyon_views.md
  reports/geoviewer.md
  reports/templates/detector_views.md
Labels: topic: documentation, topic: infrastructure

#346 ci: merge build-gcc and build-clang jobs
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#345 fix(ci): re-enable dawn views
  .gitignore
  bin/dawn_tweak
  scripts/view1/.DAWN_1.history
  scripts/view11/.DAWN_1.history
  scripts/view12/.DAWN_1.history
  scripts/view14/.DAWN_1.history
  scripts/view14/generate_eps
  scripts/view15/.DAWN_1.history
  scripts/view15/generate_eps
  scripts/view2/.DAWN_1.history
  scripts/view20/.DAWN_1.history
  scripts/view3/.DAWN_1.history
  scripts/view4/.DAWN_1.history
  scripts/view5/.DAWN_1.history
  scripts/view50/.DAWN_1.history
  scripts/view6/.DAWN_1.history
  scripts/view7/.DAWN_1.history
Labels: topic: infrastructure

#319 feat(ci): automatic SPDX header verification
  .github/workflows/spdx.yml
  scripts/checkOverlaps.py
  scripts/convert_to_gdml.py
  scripts/test_ACTS.cxx
  src/DD4hepDetectorHelper.h
Labels: topic: infrastructure
