Repository eic/epic, pull requests merged in 2022-10, with the labels that each got.

#143 Modifications for ZDC replacement
  compact/definitions.xml
  compact/materials.xml
Labels: bug

#139 remove Outer MPGD from EcalBarrel envelope
  compact/definitions.xml
  compact/ecal_barrel_sciglass.xml
  compact/tracker.xml
  src/SciGlassCalorimeter_geo.cpp
Labels: bug, topic: tracking, topic: calorimetry

#137 Add SciFi/Pb materials
  compact/ecal_barrel_interlayers.xml
  compact/materials.xml
Labels: topic: barrel, topic: calorimetry, topic: materials

#120 Imaging Barrel Calorimeter Geometry and Readout Update
  compact/definitions.xml
  compact/ecal_barrel.xml
  compact/ecal_barrel_interlayers.xml
  compact/hcal/hcal_backward.xml
  compact/hcal/hcal_barrel.xml
  compact/hcal/hcal_forward.xml
  compact/unused/ecal_barrel_hybrid.xml
Labels: topic: calorimetry

#157 Imaging Barrel Calorimeter Geometry and Readout Update
  compact/definitions.xml
  compact/ecal_barrel.xml
  compact/ecal_barrel_interlayers.xml
  compact/hcal/hcal_backward.xml
  compact/hcal/hcal_barrel.xml
  compact/hcal/hcal_forward.xml
  compact/unused/ecal_barrel_hybrid.xml
Labels: topic: calorimetry

#145 Update the forward ECal to leave the space for ECal insert
  compact/definitions.xml
  compact/ecal.xml
  compact/ecal_forward_homogeneous.xml
  compact/unused/ecal_forward_homogenous.xml
  configurations/calorimeters.yml
  configurations/central.yml
  configurations/full.yml
  configurations/imaging.yml
  configurations/sciglass.yml
  templates/epic.xml.jinja2
Labels: topic: forward, topic: calorimetry

#47 replace compact/elements.xml with one from DD4hep
  compact/elements.xml
  templates/epic.xml.jinja2
Labels: topic: materials

#132 Updated nHCal with segmentation based on STAR EEMC
  compact/definitions.xml
  compact/hcal/hcal_backward.xml
Labels: topic: calorimetry

#45 Updated SciGlass barrel ECal design
  .gitignore
  compact/ecal_barrel_sciglass.xml
  compact/unused/ecal_barrel_sciglass_panda.xml
  doc/sciglass_tower_stacking.svg
  src/SciGlassCalorimeter_geo.cpp
  src/unused/SciGlassCalorimeterPanda_geo.cpp
Labels: topic: barrel, topic: calorimetry

#156 Implement forward ECal insert
  compact/definitions.xml
  compact/display.xml
  compact/display_detailed.xml
  compact/display_geoviewer.xml
  compact/ecal_forward_homogeneous.xml
  compact/ecal_forward_insert_homogeneous.xml
  compact/hcal/hcal_forward.xml
  compact/hcal/hcal_forward_insert.xml
  configurations/calorimeters.yml
  configurations/central.yml
  configurations/full.yml
  configurations/imaging.yml
  configurations/sciglass.yml
  src/EndcapCalorimeterWithInsertCutout_geo.cpp
  src/InsertCalorimeter_geo.cpp
  templates/epic.xml.jinja2
Labels: topic: forward, topic: calorimetry

#173 fix(dRICH): slightly increase envelope radii to be consistent with menagerie
  compact/definitions.xml
Labels: topic: PID

#151 fix: add explicit NTP (NIST) conditions (20 °C, 1 atm)
  templates/epic.xml.jinja2
Labels: topic: materials

#192 TOF disk overlap fix for PR 191
  src/EndcapTOF_geo.cpp
Labels: topic: forward, topic: PID

#198 drop EPIC_ECCE_LEGACY_COMPAT
  .gitlab-ci.yml
  CMakeLists.txt
  src/BarrelBarDetectorWithSideFrame_geo.cpp
  src/BarrelCalorimeterInterlayers_geo.cpp
  src/BarrelCalorimeter_geo.cpp
  src/BarrelTrackerWithFrame_geo.cpp
  src/CompositeTracker_geo.cpp
  src/CylinderTrackerBarrel_geo.cpp
  src/DIRC_geo.cpp
  src/DRICH_geo.cpp
  src/FieldMapBrBz.cpp
  src/FileLoader.cpp
  src/GaseousRICH_geo.cpp
  src/HomogeneousCalorimeter_geo.cpp
  src/HybridCalorimeter_geo.cpp
  src/MRich_geo.cpp
  src/PFRICH_geo.cpp
  src/PolyhedraEndcapCalorimeter2_geo.cpp
  src/ScFiCalorimeter_geo.cpp
  src/ShashlikCalorimeter_geo.cpp
  src/SimpleDiskDetector_geo.cpp
  src/Solenoid_geo.cpp
  src/SupportServiceMaterial_geo.cpp
  src/TrapEndcapTracker_geo.cpp
Labels: topic: infrastructure

#190 ecal_barrel_sciglass.xml: add 2 towers in a separate family
  compact/ecal_barrel_sciglass.xml
Labels: topic: barrel, topic: calorimetry

#189 SciGlassCalorimeter: fix for running without <carbon_fiber_support>
  compact/ecal_barrel_sciglass.xml
  src/SciGlassCalorimeter_geo.cpp
Labels: topic: barrel, topic: calorimetry

#141 Electron-going endcap ECal: geometry updates
  compact/definitions.xml
  compact/ecal_backward_PbWO4.xml
  compact/optical_materials.xml
  src/HomogeneousCalorimeter_geo.cpp
Labels: topic: backward, topic: calorimetry

#122 feat: introduce MPGD DIRC bars and update hpDIRC model and parameters
  compact/definitions.xml
  compact/dirc.xml
  compact/tracker.xml
  compact/tracker/mpgd_barrel.xml
  compact/tracker/mpgd_dirc.xml
  configurations/dirc_only.yml
  configurations/full.yml
  configurations/imaging.yml
  configurations/sciglass.yml
  src/DIRC_geo.cpp
  src/MPGDDIRC_geo.cpp
Labels: topic: PID

#155 Add TOF hits into tracking
  compact/definitions.xml
  compact/tof_barrel.xml
  compact/tof_endcap.xml
  compact/tracker.xml
  configurations/full.yml
Labels: topic: tracking, topic: PID

#148 Updates of mRICH positioning to avoid overlaps
  compact/definitions.xml
  compact/mrich.xml
Labels: topic: backward, topic: PID

#217 fix(dRICH): increase snout entrance radius from 95 -> 110 cm
  compact/drich.xml
Labels: topic: forward, topic: PID

#212 update backward disks position, and reduce disk inner radii.
  compact/tracker.xml
Labels: topic: tracking

#186 Adding versioning to run with 275 (arches) or 41 (brycecanyon) GeV beam with B0 ECal
  .github/workflows/linux-eic-shell.yml
  configurations/arches.yml
  configurations/brycecanyon.yml
  templates/epic.xml.jinja2
Labels: topic: calorimetry, topic: far-forward

#215 feat(ci): also test build in clang
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#203 ci: run overlap checks on both detector configs
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#83 ci: add build caching across pipelines
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#219 ci: run tgeo overlap check with sampling too
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#70 feat: spin off geoviewer jobs to eicweb
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#254 Update insert hole parameters, fix backplate attribute bug
  compact/definitions.xml
  compact/hcal/hcal_forward_insert.xml
  src/InsertCalorimeter_geo.cpp
Labels: enhancement, topic: forward
