Repository eic/epic, pull requests merged in 2022-11, with the labels that each got.

#267 fix: remove debugging output in EndcapTOF
  src/EndcapTOF_geo.cpp
Labels: topic: PID

#266 Simplified tile shapes for outer HCAL
  compact/hcal/barrel_gdml.xml
Labels: topic: barrel, topic: calorimetry

#264 BUGFIX: SciGlassCalorimeter: fix cutout margins
  src/SciGlassCalorimeter_geo.cpp
Labels: topic: barrel, topic: calorimetry

#255 Hcal backward segmentation r
  compact/definitions.xml
  compact/hcal/backward.xml
Labels: topic: backward, topic: calorimetry

#258 SciGlassCalorimeter_geo: implement double walls for wedge box and 6 mm gap
  compact/ecal/barrel_sciglass.xml
  configurations/sciglass_only.yml
  src/SciGlassCalorimeter_geo.cpp
Labels: topic: barrel, topic: calorimetry

#284 Fix issue #277 - error due to hits hitting nHCal corners
  compact/hcal/backward.xml
Labels: topic: calorimetry

#292 SciGlassCalorimeter: fix a small (1e-4) extrusion
  src/SciGlassCalorimeter_geo.cpp
Labels: topic: barrel, topic: calorimetry

#273 Change separation of imaging layers
  compact/ecal/barrel_interlayers.xml
Labels: topic: barrel, topic: calorimetry

#298 README.md: drop mention of the ip6 repo
  README.md
Labels: topic: documentation

#307 fix: define Birks constants in materials definition
  compact/materials.xml
Labels: topic: materials

#294 fix for endcap TOF coordinate conversion
  src/EndcapTOF_geo.cpp
Labels: topic: PID

#295 Add some of the baseline luminosity detector components:
  compact/definitions.xml
  compact/far_backward.xml
  compact/far_backward/definitions.xml
  compact/far_backward/lumi.xml
  compact/far_backward/lumi/exit_window.xml
  compact/far_backward/lumi/spec_homo_cal.xml
  compact/far_backward/lumi/spec_magnet.xml
  compact/far_backward/lumi/spec_tracker.xml
  src/LumiSpecHomoCAL_geo.cpp
  src/LumiSpecTracker_geo.cpp
  src/LumiWindow_geo.cpp
Labels: topic: tracking, topic: forward

#291 epic_SciGlassCalorimeter -> epic_EcalBarrelSciGlass, BarrelSciGlassCa…
  compact/ecal/barrel_sciglass.xml
  src/BarrelCalorimeterSciGlass_geo.cpp
Labels: topic: barrel, topic: calorimetry

#188 SciGlassCalorimeter: revert back to sector-row-tower readout
  compact/ecal/barrel_sciglass.xml
  src/BarrelCalorimeterSciGlass_geo.cpp
Labels: topic: barrel, topic: calorimetry

#296 SciGlassCalorimeter: specify tower material in the compact file
  compact/ecal/barrel_sciglass.xml
  src/BarrelCalorimeterSciGlass_geo.cpp
Labels: topic: barrel, topic: calorimetry

#293 SciGlassCalorimeter: place towers in a sector volume
  src/BarrelCalorimeterSciGlass_geo.cpp
Labels: topic: barrel, topic: calorimetry

#290 288 edit lowq2 detector and vacuum geometries
  compact/definitions.xml
  compact/display.xml
  compact/far_backward.xml
  compact/far_backward/taggers.xml
  compact/far_backward/vacuum.xml
  src/BackwardsTaggers_geo.cpp
  src/BackwardsTracker_geo.cpp
Labels: topic: tracking, topic: forward, topic: far-backward
