Repository eic/epic, pull requests merged in 2023-12, with the labels that each got.

#592 reduced vessel rmax2 to 180 cm
  compact/definitions.xml
  compact/pid/drich.xml
  src/DRICH_geo.cpp
Labels: topic: forward, topic: PID

#606 Adjust Barrel ECal geometry according to the geometry database
  compact/definitions.xml
  compact/ecal/barrel_interlayers.xml
Labels: topic: barrel, topic: calorimetry

#586 update parameters for DIRC
  compact/definitions.xml
  compact/pid/dirc.xml
Labels: topic: barrel, topic: PID
