Repository eic/epic, pull requests merged in 2023-10, with the labels that each got.

#541 fix(ci): pass DETECTOR to eicweb triggers
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#540 feat: remove epic_brycecanyon as main configuration
  .github/workflows/linux-eic-shell.yml
  README.md
Labels: topic: documentation, topic: infrastructure

#545 ZDC_SiPMonTile.xml: name rotation angle after Y-axis, not Z
  compact/far_forward/ZDC_SiPMonTile.xml
Labels: topic: far-forward

#497 feat: Make Hcal insert's readout a hexagonal grid
  compact/hcal/forward_insert.xml
Labels: enhancement, topic: forward, topic: calorimetry

#547 feat - Increase number of W/Sc layers in forward HCal insert from 4 to 10.
  compact/hcal/forward_insert.xml
Labels: enhancement, topic: forward, topic: calorimetry

#556 fix: ForwardServiceGap_thickness:=13.6cm
  compact/definitions.xml
Labels: topic: forward

#559 fix: BackwardServiceGap_length:=124cm, HcalEndcapN_length:=45cm
  compact/definitions.xml
Labels: topic: backward, topic: calorimetry

#558 fix: EcalEndcapN_zmin:=175cm
  compact/definitions.xml
Labels: topic: backward, topic: calorimetry

#551 Add a script to compare detector parameter tables
  bin/compare_detector_parameter_table
Labels: topic: infrastructure

#560 feat: write detector_parameter_table.html
  .github/workflows/linux-eic-shell.yml
  README.md
Labels: topic: documentation, topic: infrastructure

#578 Update materials.xml
  compact/materials.xml
Labels: topic: materials

#527 Implement lumi dipole B mapping
  compact/far_backward/lumi/lumi_magnets.xml
  compact/fields/marco.xml
  src/FieldMapB.cpp
  src/FieldMapBrBz.cpp
Labels: topic: far-backward, topic: magnets, topic: geometry, topic: simulation

#582 Add html format support in Detector Parameter Comparison
  bin/compare_detector_parameter_table
Labels: topic: infrastructure, topic: geometry

#584 update the backward service gap length
  compact/definitions.xml
Labels: topic: backward, topic: simulation

#585 fixed mpgd endcap readout segmentation
  compact/tracking/mpgd_backward_endcap.xml
  compact/tracking/mpgd_forward_endcap.xml
Labels: bug, topic: tracking
