Repository eic/epic, pull requests merged in 2023-01, with the labels that each got.

#350 fix(DRICH): undefined `PlacedVolume` usage when `DRICH_debug_optics==1`
  src/DRICH_geo.cpp
Labels: topic: PID

#172 Add cladding to fibers
  .github/workflows/linux-eic-shell.yml
  compact/ecal/barrel_interlayers.xml
  src/BarrelCalorimeterInterlayers_geo.cpp
Labels: topic: infrastructure, topic: barrel, topic: calorimetry

#352 barrel_sciglass.xml: shorten family 1 and 2 towers to 40 cm
  compact/ecal/barrel_sciglass.xml
Labels: topic: barrel, topic: calorimetry
