Repository eic/epic, pull requests merged in 2023-07, with the labels that each got.

#467 LFHCal updated geom
  compact/hcal/lfhcal.xml
  src/LFHCAL_geo.cpp
Labels: topic: calorimetry

#469 Implement 6 AstroPix slots with sensitive layers 1-3-5-6
  compact/ecal/barrel_interlayers.xml
Labels: topic: barrel, topic: calorimetry

#466 rewritten geometry for forward TOF with full ACTS functionality
  compact/display.xml
  compact/tracking/tof_endcap.xml
  src/EndcapTOF_geo.cpp
Labels: topic: PID

#462 459 implement the function add the modules in neemc automatically and add the sipm readout in the module
  compact/ecal/backward_PbWO4.xml
  src/GeometryHelpers.cpp
  src/GeometryHelpers.h
  src/HomogeneousCalorimeter_geo.cpp
Labels: topic: backward, topic: calorimetry

#455 refactor(pfRICH): reduce expansion volume by 5 cm
  compact/definitions.xml
  compact/pid/pfrich.xml
Labels: topic: backward, topic: PID

#458 Update low q2 default
  compact/far_backward/definitions.xml
  compact/far_backward/magnets.xml
  compact/far_backward/taggers.xml
  src/BackwardsTaggers_geo.cpp
Labels: topic: far-backward

#470 Implement Carbon-fiber Frames (Shelves) for BECal
  compact/ecal/barrel_interlayers.xml
  src/BarrelCalorimeterImaging_geo.cpp
  src/BarrelCalorimeterScFi_geo.cpp
Labels: topic: barrel, topic: calorimetry

#476 fix: disable world_region and world_limitset
  templates/epic.xml.jinja2
Labels: backport 23.07

#477 ci: add GitHub action for PR backporting
  .github/workflows/pr-backport.yml
Labels: topic: infrastructure

#480 fix: use id="ECalBarrel_ID" in barrel_sciglass.xml
  compact/ecal/barrel_sciglass.xml
Labels: topic: barrel, topic: calorimetry

#478 ci: consolidate geoviewer job, include epic_ in detector_config json
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#481 update the radius and material thickness of inner supporting barrels …
  compact/tracking/definitions_craterlake.xml
  compact/tracking/support_service_craterlake.xml
Labels: topic: tracking, backport 23.07

#483 README.md: add CI status badge
  README.md
Labels: topic: documentation

#482 minor material and visualization changes for FTOF
  compact/tracking/tof_endcap.xml
  src/EndcapTOF_geo.cpp
Labels: topic: PID

#484 Backport #479 to 23.07
  compact/definitions.xml
  compact/tracking/central_tracker_hybrid_v2.xml
  compact/tracking/definitions_craterlake.xml
  compact/tracking/mpgd_backward_endcap.xml
  compact/tracking/mpgd_forward_endcap.xml
  compact/tracking/silicon_disks.xml
  compact/tracking/support_service_assembly.xml
  compact/tracking/support_service_craterlake.xml
  compact/tracking/tof_endcap.xml
  configurations/craterlake.yml
  configurations/craterlake_tracking_only.yml
Labels: topic: tracking, topic: PID

#485 update the radius and material thickness of inner supporting barrels …
  compact/tracking/definitions_craterlake.xml
  compact/tracking/support_service_craterlake.xml
Labels: topic: tracking

#487 fix: shift to brycecanyon, craterlake
  .github/workflows/linux-eic-shell.yml
  README.md
  _config.yml
  _layouts/geoviewer.html
  reports/craterlake_views.md
Labels: topic: documentation, topic: infrastructure
