Repository eic/epic, pull requests merged in 2023-08, with the labels that each got.

#489 fix: rm unused env vars in setup.sh
  templates/setup.sh.in
Labels: topic: infrastructure

#490 feat: implement fan blade imaging calorimeter staves
  compact/definitions.xml
  compact/display.xml
  compact/ecal/barrel_interlayers.xml
  compact/unused/ecal_barrel_hybrid.xml
  src/BarrelCalorimeterImaging_geo.cpp
  src/BarrelCalorimeterScFi_geo.cpp
Labels: topic: barrel, topic: calorimetry

#495 fix: speed up EcalBarrel display and dawn views
  compact/display.xml
  compact/ecal/barrel_interlayers.xml
Labels: topic: barrel, topic: calorimetry

#492 Fix ff vacuum
  compact/far_forward/magnets.xml
  compact/far_forward/offM_tracker.xml
  compact/far_forward/roman_pots_eRD24_design.xml
  compact/far_forward/vacuum.xml
  compact/fields/beamline_10x100.xml
  compact/fields/beamline_10x275.xml
  compact/fields/beamline_18x275.xml
  compact/fields/beamline_5x100.xml
  compact/fields/beamline_5x41.xml
  src/CylindricalDipoleMagnet_geo.cpp
  src/ForwardRomanPot_geo.cpp
  src/OffMomentumTracker_geo.cpp
  src/hadronDownstreamBeamPipe.cpp
  src/magnetVacuumFF.cpp
Labels: topic: tracking, topic: forward, topic: far-forward

#500 feat: Align Hcal insert's absorbers with LFHCAL's
  compact/definitions.xml
  compact/hcal/forward_insert.xml
  src/InsertCalorimeter_geo.cpp
Labels: enhancement, topic: forward, topic: calorimetry

#331 feat(dRICH): assemble sensors in Photodetector Units (PDUs)
  compact/display.xml
  compact/pid/drich.xml
  src/DRICH_geo.cpp
Labels: topic: forward, topic: PID
