Repository eic/epic, pull requests merged in 2023-04, with the labels that each got.

#408 feat(dRICH): add test setting `DRICH_debug_sector` to draw only one sector
  compact/pid/drich.xml
  src/DRICH_geo.cpp
Labels: topic: forward, topic: PID

#407 dRICH: update sensor sphere positioning and re-focus
  compact/pid/drich.xml
Labels: topic: forward, topic: PID

#409 fix: mRICH aerogel sum components to 1
  compact/optical_materials.xml
Labels: topic: materials

#410 feat(dRICH): add a constant to provide the number of sensors
  src/DRICH_geo.cpp
Labels: topic: PID

#415 hotfix: rm spaces in readout id
  compact/far_backward/lumi/directPC.xml
Labels: topic: far-backward

#417 fix: bad comment bad
  compact/far_forward/roman_pots_eRD24_design.xml
Labels: topic: far-forward

#344 161 acts tracking for b0
  compact/definitions.xml
  compact/far_forward/B0_tracker.xml
  compact/tracking/definitions.xml
  compact/tracking/definitions_brycecanyon.xml
  src/B0Tracker_geo.cpp
Labels: topic: tracking, topic: forward, topic: far-forward
