Repository eic/epic, pull requests merged in 2023-05, with the labels that each got.

#418 fix(dRICH): adjust sensor region boundaries
  compact/pid/drich.xml
Labels: topic: forward, topic: PID

#394 Use 3-layer spherical lens for hpDIRC
  compact/optical_materials.xml
  compact/pid/dirc.xml
  src/DIRC_geo.cpp
Labels: topic: barrel, topic: PID, topic: materials

#422 Update Geometry for Barrel EMCal
  compact/definitions.xml
  compact/display.xml
  compact/display_detailed.xml
  compact/display_geoviewer.xml
  compact/ecal/barrel_interlayers.xml
  scripts/subdetector_tests/draw_bemc_scfi_grids.py
  src/BarrelCalorimeterInterlayers_geo.cpp
Labels: topic: infrastructure, topic: barrel, topic: calorimetry

#419 BarrelCalorimeterInterlayers: embed fiber core volume into cladding
  src/BarrelCalorimeterInterlayers_geo.cpp
Labels: topic: barrel, topic: calorimetry

#386 Forward electron beampipe
  compact/central_beampipe.xml
  compact/far_forward.xml
  compact/far_forward/definitions.xml
  compact/far_forward/electron_beamline.xml
  compact/far_forward/ion_beamline.xml
Labels: topic: far-forward

#425 fix grid plotting script for SciFi/Pb
  scripts/subdetector_tests/draw_bemc_scfi_grids.py
Labels: topic: infrastructure

#424 Change Lumi Pair Spectrometer Tracker and CAL parameters
  compact/far_backward/definitions.xml
  compact/far_backward/lumi/spec_homo_cal.xml
  compact/far_backward/lumi/spec_tracker.xml
Labels: topic: far-backward

#431 fix: revert `AirOptical` refractive index
  compact/optical_materials.xml
Labels: topic: materials

#434 visualisation attributes given correct names to allow JSROOT to show detector properly
  compact/display.xml
  compact/far_forward/ZDC_Ecal_WSciFi.xml
  compact/far_forward/ZDC_Hcal.xml
Labels: topic: far-forward
