Repository eic/epic, pull requests merged in 2023-02, with the labels that each got.

#358 remove BarrelCalorimeter
  compact/ecal/barrel.xml
  compact/hcal/barrel.xml
  configurations/18x275.yml
  src/BarrelCalorimeter_geo.cpp
Labels: topic: barrel, topic: calorimetry

#361 cleanup: simplify dRICH mirror focusing
  src/DRICH_geo.cpp
Labels: topic: PID

#369 fix: set dd4hep compiler flags to suppress ABI warnings on arm
  .github/workflows/linux-eic-shell.yml
  CMakeLists.txt
  src/B0Tracker_geo.cpp
  src/BarrelTrackerWithFrame_geo.cpp
  src/FileLoaderHelper.h
  src/TrapEndcapTracker_geo.cpp
Labels: topic: infrastructure, topic: tracking, topic: barrel, topic: forward, topic: far-forward

#367 Fix Barrel HCAL Volume ID's To Allow Proper Clustering
  compact/hcal/barrel_gdml.xml
  src/BarrelHCalCalorimeter_geo.cpp
Labels: topic: barrel, topic: calorimetry

#357 BarrelHCalCalorimeter: remove some redundant code
  src/BarrelHCalCalorimeter_geo.cpp
Labels: topic: barrel, topic: calorimetry

#368 Creation of Lumi direct photon calorimeter in far backward system
  compact/definitions.xml
  compact/far_backward/definitions.xml
  compact/far_backward/lumi/directPC.xml
  src/LumiDirectPC_geo.cpp
Labels: topic: far-backward

#370 Implement geometry volumes for fiber grids in BEMC ScFi
  scripts/subdetector_tests/draw_bemc_scfi_grids.py
  src/BarrelCalorimeterInterlayers_geo.cpp
Labels: enhancement, topic: infrastructure, topic: barrel, topic: calorimetry

#365 Upgrade spectrometer Lumi components
  compact/far_backward/definitions.xml
  compact/far_backward/lumi.xml
  compact/far_backward/lumi/collimator.xml
  compact/far_backward/lumi/converter.xml
  compact/far_backward/lumi/exit_window.xml
  compact/far_backward/lumi/lumi_magnets.xml
  compact/far_backward/lumi/photon_chamber.xml
  compact/far_backward/lumi/spec_homo_cal.xml
  compact/far_backward/lumi/spec_magnet.xml
  compact/far_backward/lumi/spec_tracker.xml
  compact/far_backward/taggers.xml
  compact/materials.xml
  src/LumiCollimator_geo.cpp
  src/LumiMagnets_geo.cpp
  src/LumiPhotonChamber_geo.cpp
  src/LumiSpecHomoCAL_geo.cpp
  src/LumiSpecTracker_geo.cpp
  src/LumiWindow_geo.cpp
Labels: topic: tracking, topic: forward, topic: materials, topic: far-backward

#372 feat: example gdml for pfrich/mrich review
  .github/workflows/linux-eic-shell.yml
  CMakeLists.txt
  compact/pid/mrich.gdml
  compact/pid/mrich_gdml.xml
  compact/pid/pfrich.gdml
  compact/pid/pfrich_gdml.xml
  configurations/arches_mrich_gdml.yml
  configurations/brycecanyon_pfrich_gdml.yml
Labels: topic: infrastructure, topic: backward, topic: PID

#378 Add direct lumi CAL to lumi.xml and relocate it further backward.
  compact/far_backward/definitions.xml
  compact/far_backward/lumi.xml
Labels: topic: far-backward

#374 Change Aerogel radius to 90 cm and retuning optics
  compact/pid/drich.xml
Labels: topic: forward, topic: PID
