Repository eic/epic, pull requests merged in 2023-03, with the labels that each got.

#379 feat: add pfRICH `gdml` from standalone
  compact/pid/pfrich.gdml
  configurations/pfrich_gdml_only.yml
Labels: topic: backward, topic: PID

#391 ci: expect trigger-geoviewer with name it will be reported
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#384 cmake: drop DDG4 dependency
  CMakeLists.txt
Labels: topic: infrastructure

#395 ci: only run dawn slices views on main
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#400 Change ECal insert's readout to 1x1 cm from 2x2 cm
  compact/ecal/forward_insert_homogeneous.xml
Labels: topic: forward, topic: calorimetry

#354 fix(ci): more robust comment of fiber/lens details
  .github/workflows/linux-eic-shell.yml
  compact/ecal/forward_scfi.xml
  compact/far_forward/ZDC_Ecal_WSciFi.xml
  compact/pid/mrich.xml
Labels: topic: infrastructure, topic: forward, topic: backward, topic: calorimetry, topic: PID, topic: far-forward

#373 reverted forward tof to basic geometry
  compact/tracking/tof_endcap.xml
Labels: topic: PID

#332 310 improve the neemc acceptance at high eta region
  compact/ecal/backward_PbWO4.xml
  compact/materials.xml
  src/HomogeneousCalorimeter_geo.cpp
Labels: topic: backward, topic: calorimetry, topic: materials

#402 ci: don't run checks for geom without HcalBarrel
  .github/workflows/linux-eic-shell.yml
  configurations/arches_no_barrel_hcal.yml
  configurations/brycecanyon_no_barrel_hcal.yml
Labels: topic: infrastructure

#404 SciGlassCalorimeter_geo: remove outdated comments
  src/BarrelCalorimeterSciGlass_geo.cpp
Labels: topic: barrel, topic: calorimetry
