Repository eic/epic, pull requests merged in 2023-11, with the labels that each got.

#589 Lumi PS design update
  compact/far_backward/definitions.xml
  compact/far_backward/lumi/collimator.xml
  compact/far_backward/lumi/lumi_magnets.xml
  compact/far_backward/lumi/photon_chamber.xml
  compact/far_backward/lumi/spec_tracker.xml
  src/LumiPhotonChamber_geo.cpp
Labels: topic: far-backward

#593 Mpgd disks parameter table update
  compact/tracking/mpgd_backward_endcap.xml
  compact/tracking/mpgd_forward_endcap.xml
  templates/DetectorParameterTable.csv.jinja2
Labels: topic: tracking, topic: geometry

#594 Update Outer MPGD barrel to match detector parameter table
  compact/tracking/definitions_craterlake.xml
  compact/tracking/mpgd_outerbarrel.xml
Labels: topic: tracking

#580 Update the ZDC position and configuration.
  compact/far_forward/ZDC.xml
  compact/far_forward/ZDC_1stSilicon.xml
  compact/far_forward/ZDC_Crystal.xml
  compact/far_forward/ZDC_PbScinti.xml
  compact/far_forward/ZDC_WSi.xml
Labels: topic: far-forward

#583 Update with new parameter table - to solve issue #573
  compact/definitions.xml
  compact/hcal/backward.xml
Labels: topic: calorimetry

#598 fix: update test_ACTS.cxx for new Acts interfaces
  scripts/test_ACTS.cxx
Labels: topic: infrastructure

#595 Issue 570 pfrich dimensions
  compact/definitions.xml
  compact/pid/pfrich.xml
Labels: topic: backward, topic: PID

#599 Update vacuum default density to 1e-15 g/cms to reflect RHIC vacuum - currently set to 100k mbar worse vacuum
  compact/materials.xml
Labels: topic: materials

#603 Negative h cal dev
  compact/hcal/backward.xml
Labels: topic: calorimetry
