Repository eic/epic, pull requests merged in 2023-06, with the labels that each got.

#428 Switch default zdc to baseline
  compact/definitions.xml
  compact/far_forward.xml
  compact/far_forward/roman_pots_eRD24_design.xml
  compact/far_forward_arches.xml
  compact/far_forward_brycecanyon.xml
Labels: topic: far-forward

#437 fix: set default CMAKE_INSTALL_PREFIX
  CMakeLists.txt
Labels: topic: infrastructure

#441 Change ECal insert readout size to 1.25 cm x 1.25 cm
  compact/ecal/forward_insert_homogeneous.xml
Labels: enhancement, topic: forward, topic: calorimetry

#442 fix: disable optical photon generation in hpDIRC
  compact/materials.xml
  compact/optical_materials.xml
  compact/pid/dirc.xml
Labels: topic: barrel, topic: PID, topic: materials

#438 Si tracker granularity
  compact/tracking/silicon_barrel.xml
  compact/tracking/silicon_disks.xml
  compact/tracking/vertex_barrel.xml
Labels: topic: tracking, topic: barrel

#414 feat: epic full with pfrich, imaging
  compact/tracking/definitions.xml
  compact/tracking/definitions_arches.xml
  configurations/arches.yml
  configurations/arches_mrich_gdml.yml
  configurations/brycecanyon.yml
  configurations/brycecanyon_no_pfrich.yml
  configurations/brycecanyon_pfrich_gdml.yml
  configurations/full.yml
  configurations/imaging.yml
Labels: topic: tracking

#443 fix: remove duplicate constants in roman_pots_eRD24_design.xml
  compact/far_forward/roman_pots_eRD24_design.xml
Labels: topic: far-forward

#444 EcalBarrelScFi: reduce EcalBarrel_TotalFiberLayers_num from 15 to 12
  compact/ecal/barrel_interlayers.xml
Labels: topic: barrel, topic: calorimetry

#445 fix(dRICH): extrapolate optical property tables
  compact/optical_materials.xml
Labels: topic: materials

#452 fix(dRICH): update aerogel absorption length
  compact/optical_materials.xml
Labels: topic: materials

#451 SciGlassCalorimeter_geo: support automatic calculation of flaring angles
  compact/ecal/barrel_sciglass.xml
  src/BarrelCalorimeterSciGlass_geo.cpp
Labels: topic: barrel, topic: calorimetry

#454 fix(dRICH): increase C2F6 absorption length to 30m
  compact/optical_materials.xml
Labels: topic: materials

#465 EcalEndcapPInsert: Change Ecal insert readout to 2.5 cm x 2.5 cm
  compact/ecal/forward_insert_homogeneous.xml
Labels: enhancement, topic: forward, topic: calorimetry
