Repository eic/epic, pull requests merged in 2023-09, with the labels that each got.

#508 Add hadron magnetic fields for nuclei
  compact/fields/beamline_10x110_H2.xml
  compact/fields/beamline_18x110_Au.xml
  compact/fields/beamline_18x110_H2.xml
  compact/fields/beamline_18x110_He3.xml
  compact/fields/beamline_18x110_Pb.xml
  compact/fields/beamline_5x110_H2.xml
  compact/fields/beamline_5x41_H2.xml
  compact/fields/beamline_5x41_He3.xml
  compact/fields/beamline_5x41_He4.xml
Labels: topic: magnets

#506 Add a G4 material scan script
  CMakeLists.txt
  bin/g4MaterialScan_to_csv
Labels: topic: infrastructure

#513 feat: remove tabs in pre-commit
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  compact/definitions.xml
  compact/display_detailed.xml
  compact/display_geoviewer.xml
  compact/ecal/barrel_sciglass.xml
  compact/ecal/forward_insert_homogeneous.xml
  compact/far_forward/ZDC_1stSilicon.xml
  compact/far_forward/ZDC_Crystal.xml
  compact/far_forward/ZDC_Ecal.xml
  compact/far_forward/ZDC_Hcal.xml
  compact/far_forward/ZDC_PbScinti.xml
  compact/far_forward/ZDC_PbSi.xml
  compact/far_forward/ZDC_WSi.xml
  compact/far_forward/definitions.xml
  compact/far_forward/ion_beamline.xml
  compact/far_forward/roman_pots_eRD24_design.xml
  compact/fields.xml
  compact/hcal/barrel_gdml.xml
  compact/hcal/forward_insert.xml
  compact/materials.xml
  compact/pid/dirc.xml
  compact/tracking/deprecated/gem_tracker_endcap.xml
  compact/tracking/mpgd_backward_endcap.xml
  compact/tracking/mpgd_barrel.xml
  compact/tracking/mpgd_dirc.xml
  compact/tracking/mpgd_forward_endcap.xml
  compact/tracking/mpgd_innerbarrel.xml
  compact/tracking/mpgd_outerbarrel.xml
  compact/tracking/tof_barrel.xml
  src/BarrelCalorimeterSciGlass_geo.cpp
  src/LumiDirectPC_geo.cpp
  src/LumiSpecHomoCAL_geo.cpp
  src/hadronDownstreamBeamPipe.cpp
  templates/epic.xml.jinja2
  templates/setup.sh.in
Labels: topic: infrastructure, topic: tracking, topic: barrel, topic: forward, topic: calorimetry, topic: PID, topic: materials, topic: far-forward, topic: magnets

#488 doc: fix dead links in README
  README.md
Labels: topic: documentation

#502 Update b0 segmentation
  compact/far_forward/B0_tracker.xml
  src/magnetVacuumFF.cpp
Labels: topic: far-forward

#498 Compact lumi pair spectrometer
  compact/far_backward/definitions.xml
  compact/far_backward/lumi.xml
  compact/far_backward/lumi/collimator.xml
  compact/far_backward/lumi/lumi_magnets.xml
  compact/far_backward/lumi/photon_chamber.xml
  compact/far_backward/lumi/spec_tracker.xml
  compact/fields/beamline_10x100.xml
  compact/fields/beamline_10x275.xml
  compact/fields/beamline_18x275.xml
  compact/fields/beamline_5x100.xml
  compact/fields/beamline_5x41.xml
  src/LumiCollimator_geo.cpp
  src/LumiMagnets_geo.cpp
  src/LumiPhotonChamber_geo.cpp
  src/LumiWindow_geo.cpp
Labels: topic: far-backward, topic: magnets

#509 feat(ci): support merge queues
  .github/workflows/auto-update.yml
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#517 516 bugfix use consistent lumi variable name in fields
  compact/fields/beamline_10x110_H2.xml
  compact/fields/beamline_18x110_Au.xml
  compact/fields/beamline_18x110_H2.xml
  compact/fields/beamline_18x110_He3.xml
  compact/fields/beamline_18x110_Pb.xml
  compact/fields/beamline_5x110_H2.xml
  compact/fields/beamline_5x41_H2.xml
  compact/fields/beamline_5x41_He3.xml
  compact/fields/beamline_5x41_He4.xml
Labels: topic: magnets

#501 drop unused HcalEndcapP
  compact/definitions.xml
  compact/hcal/forward.xml
  compact/hcal_gdml.xml
  templates/DetectorParameterTable.csv.jinja2
Labels: topic: barrel, topic: calorimetry

#525 fix: use correct layer_pattern for MPGD endcap surfaces
  compact/tracking/mpgd_backward_endcap.xml
  compact/tracking/mpgd_forward_endcap.xml
Labels: topic: tracking, backport 23.09

#522 pr-backport.yml: add github token
  .github/workflows/pr-backport.yml
Labels: topic: infrastructure

#524 Update ff magnet vacuum
  compact/far_forward/vacuum.xml
  src/magnetVacuumFF.cpp
Labels: topic: far-forward

#533 linux-eic-shell.yml: remove workflow_dispatch functionality
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#529 Update solenoid material budget
  compact/materials.xml
  compact/solenoid.xml
Labels: topic: materials, topic: magnets

#523 Improve the performane for bin/g4MaterialScan_to_csv
  bin/g4MaterialScan_to_csv
Labels: topic: infrastructure

#534 Zdc SiPM-on-tile
  compact/definitions.xml
  compact/far_forward/ZDC_SiPMonTile.xml
  configurations/zdc_sipm_on_tile_only.yml
  src/ZeroDegreeCalorimeterSiPMonTile_geo.cpp
Labels: topic: calorimetry, topic: far-forward
