Repository eic/epic, pull requests merged in 2024-08, with the labels that each got.

#754 Initial commit on material
  compact/display.xml
  compact/pid/pfrich.xml
  src/PFRICH_geo.cpp
Labels: topic: backward, topic: PID

#757 Add a script to generate material scan plots
  bin/g4MaterialScan_raw_plot
  bin/g4MaterialScan_to_csv
Labels: enhancement, topic: infrastructure

#764 Update material map
  compact/tracking/definitions_craterlake.xml
Labels: topic: tracking, backport 24.08

#765 Update beamline_5x41_H2.xml
  compact/fields/beamline_5x41_H2.xml
Labels: topic: magnets

#766 [Backport 24.08] Update material map
  compact/tracking/definitions_craterlake.xml
Labels: topic: tracking

#769 Delete compact/tracking/mpgd_innerbarrel.xml
  compact/tracking/mpgd_innerbarrel.xml
Labels: topic: tracking

#771 Insert granularity
  compact/definitions.xml
  compact/ecal/forward_insert_homogeneous.xml
  compact/hcal/forward_insert.xml
  src/InsertCalorimeter_geo.cpp
Labels: topic: forward, topic: calorimetry
