Repository eic/epic, pull requests merged in 2024-05, with the labels that each got.

#723 linux-eic-shell.yml: provide PIPELINE_NAME to detector_benchmarks
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#729 Bic geo adjustment
  compact/definitions.xml
  compact/ecal/barrel_interlayers.xml
Labels: topic: barrel, topic: calorimetry

#733 feat: rm DETECTOR_VERSION from thisepic.sh; rm setup.sh
  .github/labeler.yml
  .github/workflows/linux-eic-shell.yml
  CMakeLists.txt
  README.md
  templates/thisepic.sh.in
Labels: topic: documentation, topic: infrastructure

#734 fix: correct warning message when using setup.sh
  templates/thisepic.sh.in
Labels: topic: infrastructure, backport 24.05

#736 [Backport 24.05] fix: correct warning message when using setup.sh
  templates/thisepic.sh.in
Labels: topic: infrastructure

#737 linux-eic-shell.yml: trigger {physics,reconstruction}_benchmarks directly
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#720 Add more vacuum at z>40m
  compact/far_forward/vacuum.xml
  src/magnetVacuumFF.cpp
Labels: topic: far-forward
