Repository eic/epic, pull requests merged in 2024-10, with the labels that each got.

#779 fix(ci): run_material_map_validation.sh use v33.1.0 scripts
  scripts/material_map/run_material_map_validation.sh
Labels: topic: infrastructure

#768 Add functionality to track in a BeamPipeChain
  compact/definitions.xml
  compact/far_backward/beamline_extension_electron.xml
  compact/far_backward/beamline_tracking.xml
  compact/far_backward/extended.xml
  src/BeamPipeChain_geo.cpp
  src/BeamPipeStop_geo.cpp
  src/BeamPipeTracking_geo.cpp
  templates/epic.xml.jinja2
Labels: topic: far-backward, topic: magnets

#791 Update sensor geometry for rp
  compact/display.xml
  compact/far_forward/roman_pots_eRD24_design.xml
  compact/fields/beamline_10x100.xml
  compact/fields/beamline_10x110_H2.xml
  compact/fields/beamline_10x275.xml
  compact/fields/beamline_18x110_Au.xml
  compact/fields/beamline_18x110_H2.xml
  compact/fields/beamline_18x110_He3.xml
  compact/fields/beamline_18x110_Pb.xml
  compact/fields/beamline_18x275.xml
  compact/fields/beamline_5x100.xml
  compact/fields/beamline_5x110_H2.xml
  compact/fields/beamline_5x41.xml
  compact/fields/beamline_5x41_H2.xml
  compact/fields/beamline_5x41_He3.xml
  compact/fields/beamline_5x41_He4.xml
  src/ForwardRomanPot_geo.cpp
Labels: topic: far-forward, topic: magnets

#797 LumiCal Material/Dim updates.
  compact/display.xml
  compact/far_backward/definitions.xml
  compact/far_backward/lumi/spec_ScFi_cal.xml
  src/EcalLumiSpecWScFi_geo.cpp
Labels: topic: far-backward

#798 Lfhcal geoupdate
  compact/definitions.xml
  compact/hcal/lfhcal.xml
  configurations/lfhcal_with_insert.yml
  src/LFHCAL_geo.cpp
Labels: topic: calorimetry

#794 fix(ci): don't trigger geoviewer directly
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure
