Repository eic/epic, pull requests merged in 2024-03, with the labels that each got.

#588 Updated HCAL parameters and template for comparison with detector table
  .github/workflows/linux-eic-shell.yml
  compact/definitions.xml
  compact/hcal/barrel_gdml.xml
  compact/materials.xml
  configurations/craterlake_no_bhcal.yml
  src/BarrelHCalCalorimeter_geo.cpp
  templates/DetectorParameterTable.csv.jinja2
Labels: topic: infrastructure, topic: barrel, topic: calorimetry, topic: materials

#648 Adjust the length of BIC according to the newest baseline
  compact/ecal/barrel_interlayers.xml
Labels: topic: barrel, topic: calorimetry, topic: magnets

#653 fixed tof endcap y-resolution to correct value
  compact/tracking/tof_endcap.xml
Labels: topic: PID

#656 HOTFIX: add back HcalBarrel_rmin
  compact/definitions.xml
Labels: backport 24.03

#652 fix: re-enable optical materials in hpDIRC
  compact/pid/dirc.xml
Labels: topic: barrel, topic: PID

#650 Remove arches configurations
  README.md
  _layouts/geoviewer.html
  calibrations/calo_digi_default.json
  compact/definitions.xml
  compact/ecal/barrel_sciglass.xml
  compact/tracking/definitions.xml
  compact/tracking/definitions_arches.xml
  compact/tracking/mpgd_dirc.xml
  configurations/10x100.yml
  configurations/10x275.yml
  configurations/18x275.yml
  configurations/5x100.yml
  configurations/5x41.yml
  configurations/arches.yml
  configurations/arches_mrich_gdml.yml
  configurations/central.yml
  configurations/imaging.yml
  configurations/sciglass_only.yml
  configurations/tracking_only.yml
  doc/sciglass_tower_front_view.svg
  doc/sciglass_tower_stacking.svg
  src/BarrelCalorimeterSciGlass_geo.cpp
  src/BarrelPlanarMPGDTracker_geo.cpp
Labels: topic: documentation, topic: infrastructure, topic: tracking, topic: barrel, topic: forward, topic: calorimetry

#659 feat: define and add inner detector barrel support cylinder (1 cm CF)
  compact/tracking/mpgd_outerbarrel.xml
  compact/tracking/support_service_craterlake.xml
Labels: topic: tracking

#654 Bic geometry update
  compact/definitions.xml
  compact/ecal/barrel_interlayers.xml
  compact/materials.xml
Labels: topic: barrel, topic: calorimetry, topic: materials

#666 fix: rename detector to HcalFarForwardZDC_SiPMonTile
  compact/far_forward/ZDC_SiPMonTile.xml
Labels: topic: far-forward

#669 fix: tell dd4hep_configure_output which install prefix to use
  CMakeLists.txt
Labels: topic: infrastructure

#670 correct the absorption length values for EpotekOptical
  compact/optical_materials.xml
Labels: topic: materials

#672 fix: mv evaluated templates during build into CMAKE_CURRENT_BINARY_DIR
  CMakeLists.txt
Labels: topic: infrastructure

#658 Update B0 ECAL geometry
  compact/far_forward/B0_ECal.xml
Labels: topic: far-forward

#660 add default material map binning for approach 2
  compact/far_forward/B0_tracker.xml
  compact/tracking/mpgd_barrel.xml
  compact/tracking/mpgd_innerbarrel.xml
  compact/tracking/mpgd_outerbarrel.xml
  compact/tracking/silicon_barrel.xml
  compact/tracking/silicon_disks.xml
  compact/tracking/tof_barrel.xml
  compact/tracking/tof_endcap.xml
  compact/tracking/vertex_barrel.xml
Labels: topic: barrel, topic: PID, topic: far-forward

#668 fix: mv dRICH from 195cm to 198cm
  compact/definitions.xml
  compact/pid/drich.xml
Labels: topic: forward, topic: PID

#678 fix: rm unused compact files
  compact/forward_trd.xml
  compact/main_beamline.xml
  compact/tof.xml
Labels: topic: forward

#681 feat: allow `source setup.sh epic_craterlake` to set DETECTOR_CONFIG
  templates/setup.sh.in
Labels: topic: infrastructure

#680 fix: add `prefix/` to `.gitignore`
  .gitignore
Labels: topic: infrastructure

#674 Remove brycecanyon configurations
  README.md
  _config.yml
  _layouts/geoviewer.html
  compact/tracking/definitions.xml
  compact/tracking/support_service_assembly.xml
  configurations/brycecanyon.yml
  configurations/brycecanyon_10x100.yml
  configurations/brycecanyon_18x110_Au.yml
  configurations/brycecanyon_18x275.yml
  configurations/brycecanyon_5x41.yml
  configurations/brycecanyon_no_pfrich.yml
  configurations/brycecanyon_pfrich_gdml.yml
  configurations/forward_detectors.yml
  configurations/forward_detectors_with_inserts.yml
  configurations/ip6_arches.yml
  configurations/ip6_brycecanyon.yml
  configurations/tof_endcap_only.yml
  configurations/tof_only.yml
  configurations/vertex_only.yml
  reports/arches_views.md
  reports/brycecanyon_views.md
  scripts/subdetector_tests/draw_bemc_scfi_grids.py
  scripts/subdetector_tests/material_scan.py
Labels: topic: documentation, topic: infrastructure, topic: tracking

#682 fix(ci): rm unused lcg workflow
  .github/workflows/linux-lcg.yml
Labels: topic: infrastructure

#667 feat: export simulation geometry to CAD models (STEP)
  .github/workflows/linux-eic-shell.yml
  configurations/craterlake_no_bhcal.yml
Labels: topic: infrastructure

#683 fix: rotate DRICH by 30 degrees
  src/DRICH_geo.cpp
Labels: topic: PID

#664 637 adetailed dd4hep description of pfrich
  compact/pid/pfrich.gdml
  compact/pid/pfrich.xml
  compact/pid/pfrich_gdml.xml
  configurations/pfrich_gdml_only.yml
  src/PFRICH_geo.cpp
Labels: topic: infrastructure, topic: backward, topic: PID

#684 feat: dRICH sensor boxes in more realistic sector segments
  compact/pid/drich.xml
  src/DRICH_geo.cpp
Labels: topic: forward, topic: PID

#679 feat: improved flexibility to define far forward and far backward components
  compact/far_backward/default.xml
  compact/far_backward/extended.xml
  compact/far_backward_extended.xml
  compact/far_forward.xml
  compact/far_forward/default.xml
  configurations/craterlake.yml
  configurations/craterlake_10x100.yml
  configurations/craterlake_10x275.yml
  configurations/craterlake_18x110_Au.yml
  configurations/craterlake_18x275.yml
  configurations/craterlake_5x41.yml
  configurations/craterlake_material_map.yml
  configurations/craterlake_tracking_only.yml
  configurations/full.yml
  configurations/ip6.yml
  configurations/ip6_extended.yml
  configurations/zdc_lyso_sipm.yml
  configurations/zdc_sipm_on_tile_only.yml
  templates/epic.xml.jinja2
Labels: topic: far-forward, topic: far-backward

#685 fix: use DD4hep RPATH configuration for libepic.so
  CMakeLists.txt
Labels: topic: infrastructure
