Repository eic/epic, pull requests merged in 2024-09, with the labels that each got.

#778 feat(ci): split linux-eic-shell into reusable workflows
  .github/workflows/check-geometry-configs.yml
  .github/workflows/check-tracking-geometry.yml
  .github/workflows/convert-to-gdml.yml
  .github/workflows/convert-to-step.yml
  .github/workflows/convert-to-tgeo.yml
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#780 Add a 2D plot script for raw material scan
  bin/g4MaterialScan_raw_plot
  bin/g4MaterialScan_raw_plot_2d
  bin/g4MaterialScan_to_csv
Labels: topic: infrastructure

#785 No zdc lyso
  compact/hcal/forward_insert.xml
  configurations/craterlake_no_zdc_lyso.yml
Labels: topic: forward, topic: calorimetry

#713 feat: trigger eic_container build to catch build errors
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#784 Mpgd gas mix
  compact/materials.xml
  compact/tracking/central_tracker_hybrid_v2.xml
  compact/tracking/deprecated/gem_tracker_endcap.xml
  compact/tracking/mpgd_backward_endcap.xml
  compact/tracking/mpgd_forward_endcap.xml
  compact/tracking/mpgd_outerbarrel.xml
Labels: topic: tracking, topic: materials

#775 Move sensor material parameters to XML file
  compact/pid/pfrich.xml
  src/PFRICH_geo.cpp
Labels: topic: backward, topic: PID
