Repository eic/epic, pull requests merged in 2024-06, with the labels that each got.

#731 Update definitions_craterlake.xml
  compact/tracking/definitions_craterlake.xml
Labels: topic: tracking

#704 EEEMCal geometry update
  compact/ecal/backward_PbWO4.xml
  configurations/eeemcal_only.yml
  src/HomogeneousCalorimeter_geo.cpp
Labels: topic: barrel, topic: backward, topic: calorimetry

#740 feat: update fieldmap to MARCO v.7.6.2.2.11
  compact/fields/marco.xml
Labels: topic: magnets

#741 Update material map
  compact/tracking/definitions_craterlake.xml
Labels: topic: tracking

#744 HcalEndcapPInsert: Replace Tungsten layers with Steel layers
  compact/hcal/forward_insert.xml
Labels: topic: forward, topic: calorimetry

#748 nHCal fix rotated segmentation
  compact/hcal/backward.xml
  configurations/backward_hcal_only.yml
  src/PolyhedraEndcapCalorimeter2_geo.cpp
Labels: topic: calorimetry

#743 Modified .cpp file and adding the parameter section to the xml file
  compact/pid/pfrich.xml
  src/PFRICH_geo.cpp
Labels: topic: backward, topic: PID
