Repository eic/epic, pull requests merged in 2024-11, with the labels that each got.

#800 modify MPGD BOT ACTS tolerance
  compact/tracking/mpgd_outerbarrel.xml
Labels: topic: tracking, backport 24.11

#801 [Backport 24.11] modify MPGD BOT ACTS tolerance
  compact/tracking/mpgd_outerbarrel.xml
Labels: topic: tracking

#788 New b0 ecal geo
  compact/definitions.xml
  compact/far_forward/B0_ECal.xml
  compact/far_forward/beampipe_hadron_B0.xml
  compact/far_forward/definitions.xml
  src/B0ECal_geo.cpp
  src/B0Window_geo.cpp
  src/forwardBeamPipeBrazil.cpp
  src/magnetVacuumFF.cpp
Labels: topic: far-forward

#809 feat(ci): run npsim in gprofng, upload calltree
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#808 Special debug configuration of the BIC with only the first layer
  compact/ecal/bic/bic_layer1_only.xml
  compact/ecal/bic_6layers.xml
  compact/ecal/bic_layer1_only.xml
  configurations/craterlake_bic_layer1_only.yml
Labels: topic: calorimetry

#810 drop GeometryHelper, a copy of GeometryHelpers
  src/B0ECal_geo.cpp
  src/GeometryHelper.cpp
  src/GeometryHelper.h
Labels: topic: far-forward
