Repository eic/epic, pull requests merged in 2024-01, with the labels that each got.

#610 ZDC LYSO + SiPM-on-tile
  compact/far_forward.xml
  compact/far_forward/ZDC_Crystal_LYSO.xml
  configurations/zdc_lyso_sipm.yml
Labels: topic: far-forward

#616 feat: enable dependabot.yml
  .github/dependabot.yml
Labels: topic: infrastructure

#617 fix(ci): update various github actions for nodejs v20
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#618 labeler.yml: fix config for v5
  .github/labeler.yml
Labels: topic: infrastructure

#613 Outer mpgd barrel geoupdate
  compact/tracking/definitions_craterlake.xml
  compact/tracking/mpgd_outerbarrel.xml
Labels: topic: tracking

#612 Update ZDC_Crystal_LYSO.xml: Use readout name EcalFarForwardZDCHits
  compact/far_forward/ZDC_Crystal_LYSO.xml
Labels: topic: far-forward

#619 linux-eic-shell.yml: use all available cores for cmake build
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#615 Fix the backward HCal position and add flux return
  compact/definitions.xml
  compact/display.xml
  compact/hcal/backward_endcap_flux.xml
  configurations/arches.yml
  configurations/brycecanyon.yml
  configurations/calorimeters.yml
  configurations/central.yml
  configurations/craterlake.yml
  configurations/craterlake_10x100.yml
  configurations/craterlake_18x110_Au.yml
  configurations/craterlake_18x275.yml
  configurations/craterlake_5x41.yml
  configurations/full.yml
  src/EndcapFluxReturn_geo.cpp
Labels: topic: backward, topic: calorimetry
