Repository eic/epic, pull requests merged in 2024-07, with the labels that each got.

#751 linux-eic-shell.yml: trigger eicweb with PR merge sha instead of HEAD
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#742 EEEMCal: reparametrize inner collar in terms of proton ring x offest
  compact/ecal/backward_PbWO4.xml
  src/HomogeneousCalorimeter_geo.cpp
Labels: topic: backward, topic: calorimetry

#758 cmake: set CMAKE_PROJECT_VERSION from git, add it back to thisepic.sh
  CMakeLists.txt
  cmake/git_version.cmake
  templates/epic.xml.jinja2
  templates/thisepic.sh.in
  templates/version.xml.in
Labels: topic: infrastructure

#756 Delete compact/unused/mrich_alt.xml
  compact/unused/mrich_alt.xml
Labels: topic: backward

#732 Inner mpgd barrel geo update
  compact/tracking/mpgd_backward_endcap.xml
  compact/tracking/mpgd_barrel.xml
  src/MPGDCylinderBarrelTracker_geo.cpp
Labels: topic: tracking, topic: barrel, topic: forward
