Repository eic/epic, pull requests merged in 2024-04, with the labels that each got.

#688 Use expr(1) for dawn views 12,14,15 to enable negative zpos
  scripts/view12/generate_eps
  scripts/view14/generate_eps
  scripts/view15/generate_eps
Labels: topic: infrastructure

#686 bin/make_dawn_views: remove unused imports
  bin/make_dawn_views
Labels: topic: infrastructure

#692 fix: ignore gdml/ and calibrations/
  .gitignore
Labels: topic: infrastructure

#690 doc: update README.md with tgeo and step file links
  README.md
Labels: topic: documentation

#665 Add new ff vacuum structure
  compact/far_forward/beampipe_hadron_B0.xml
  compact/far_forward/roman_pots_eRD24_design.xml
  src/forwardBeamPipeBrazil.cpp
Labels: topic: documentation, topic: infrastructure, topic: tracking, topic: forward, topic: backward, topic: PID, topic: far-forward, topic: far-backward

#677 feat: material map generation and validation scripts and pipeline job
  .github/workflows/linux-eic-shell.yml
  scripts/material_map/.gitignore
  scripts/material_map/epic.py
  scripts/material_map/geometry_epic.py
  scripts/material_map/material_mapping_epic.py
  scripts/material_map/material_recording_epic.py
  scripts/material_map/material_validation_epic.py
  scripts/material_map/materialmap_config.py
  scripts/material_map/run_material_map_validation.sh
Labels: topic: infrastructure

#697 Extended configs tested by check-tracking-geometry
  .github/workflows/linux-eic-shell.yml
  bin/acts_geo_check
Labels: topic: infrastructure

#698 feat: install setup.sh as FHS compliant bin/thisepic.sh
  CMakeLists.txt
Labels: topic: infrastructure

#694 feat: add barrel flux return
  compact/definitions.xml
  compact/display.xml
  compact/hcal/backward_endcap_flux.xml
  compact/hcal/barrel_flux_return.xml
  compact/hcal/forward_endcap_flux.xml
  compact/hcal/lfhcal.xml
  compact/materials.xml
  configurations/craterlake.yml
  configurations/craterlake_10x100.yml
  configurations/craterlake_10x275.yml
  configurations/craterlake_18x110_Au.yml
  configurations/craterlake_18x275.yml
  configurations/craterlake_no_bhcal.yml
  src/BarrelFluxReturn_geo.cpp
  src/EndcapFluxReturn_geo.cpp
  src/LFHCAL_geo.cpp
Labels: topic: barrel, topic: forward, topic: backward, topic: calorimetry, topic: materials

#703 remove HybridCalorimeter
  compact/ecal/backward_hybrid.xml
  src/HybridCalorimeter_geo.cpp
Labels: topic: backward, topic: calorimetry

#709 feat: add clang-format to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: topic: infrastructure

#702 fix: export all configs to STEP, use `part --level 1 HcalBarrel`
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#712 dRICH Extrusion Box azimuthal span 42 degrees
  compact/pid/drich.xml
Labels: topic: forward, topic: PID

#661 fix: update tracker support and services cones per project CAD info
  compact/pid/drich.xml
  compact/tracking/definitions_craterlake.xml
  compact/tracking/support_service_craterlake.xml
  src/BarrelCalorimeterScFi_geo.cpp
  src/SupportServiceMaterial_geo.cpp
Labels: topic: tracking, topic: barrel, topic: forward, topic: calorimetry, topic: PID
