Repository eic/epic, pull requests merged in 2024-02, with the labels that each got.

#628 Outer mpgd barrel update
  compact/tracking/mpgd_outerbarrel.xml
Labels: topic: tracking

#435 Add new Lumi CAL design
  compact/display.xml
  compact/far_backward/definitions.xml
  compact/far_backward/lumi.xml
  compact/far_backward/lumi/spec_ScFi_cal.xml
  compact/far_backward/taggers.xml
  compact/materials.xml
  src/EcalLumiSpecWScFi_geo.cpp
Labels: topic: materials, topic: far-backward, review: changes requested

#608 feat: add front support to BarrelImaging Calorimeter
  compact/definitions.xml
  compact/ecal/barrel_interlayers.xml
  src/BarrelCalorimeterImaging_geo.cpp
Labels: topic: barrel, topic: calorimetry

#632 Remove stuff from compact/unused
  compact/unused/ecal_backward_crystal_glass.xml
  compact/unused/ecal_barrel_hybrid.xml
  compact/unused/ecal_forward_homogenous.xml
  compact/unused/ecal_forward_shashlik.xml
  compact/unused/gaseous_rich.xml
  compact/unused/mm_tracker_barrel.xml
  compact/unused/rwell_tracker_barrel.xml
  compact/unused/tracking_config_mgpds.xml
  src/CylinderTrackerBarrel_geo.cpp
  src/GaseousRICH_geo.cpp
  src/ShashlikCalorimeter_geo.cpp
Labels: topic: tracking, topic: barrel, topic: forward, topic: calorimetry, topic: PID

#633 Adding craterlake w/o barrel hcal to facilitate overlap checks
  .github/workflows/linux-eic-shell.yml
  configurations/craterlake_no_bhcal.yml
Labels: topic: infrastructure

#635 fix: cleanup test_ACTS and add visitSurfaces test
  scripts/test_ACTS.cxx
Labels: topic: infrastructure

#521 feat: add the inter-MPGD/DIRC aluminum support rails
  compact/pid/dirc.xml
  src/DIRC_geo.cpp
Labels: topic: barrel, topic: PID

#646 one of the FF dipoles had the wrong sign defined - fixed
  compact/fields/beamline_10x100.xml
  compact/fields/beamline_5x100.xml
Labels: topic: magnets
