Repository eic/epic, pull requests merged in 2025-07, with the labels that each got.

#887 Modified ETOF geometry implementation for ACTS track reconstruction
  compact/tracking/tof_endcap.xml
  src/EndcapTOF_geo.cpp
Labels: topic: PID

#893 New far forward beampipe and cryostat model v2025 implementation
  compact/colors.xml
  compact/display.xml
  compact/display_detailed.xml
  compact/display_geoviewer.xml
  compact/far_backward/beamline_extension_electron.xml
  compact/far_backward/beamline_extension_hadron.xml
  compact/far_backward/magnets.xml
  compact/far_forward/B0_tracker.xml
  compact/far_forward/beampipe_hadron_B0.xml
  compact/far_forward/electron_beamline.xml
  compact/far_forward/ion_beamline.xml
  compact/far_forward/offM_tracker.xml
  compact/far_forward/vacuum.xml
  compact/materials.xml
  src/CryostatMagnet_geo.cpp
  src/CylindricalDipoleMagnet_geo.cpp
  src/forwardBeamPipeBrazil.cpp
  src/magnetVacuumFF.cpp
Labels: topic: materials, topic: far-forward, topic: far-backward, topic: magnets

#901 feat(ci): cancel container build when failure or cancelled
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#906 Update material map
  .github/workflows/linux-eic-shell.yml
  compact/ecal/bic/bic_layer1_only.xml
  compact/tracking/definitions_craterlake.xml
  scripts/material_map/run_material_map_validation.sh
Labels: topic: infrastructure, topic: tracking, topic: calorimetry

#895 feat: make FieldMapB rotation and translation optional
  compact/far_backward/lumi/lumi_magnets.xml
  compact/fields/marco.xml
  src/FieldMapB.cpp
Labels: topic: far-backward, topic: magnets

#908 Create readme.md for material map
  scripts/material_map/readme.md
Labels: topic: documentation, topic: infrastructure

#909 fix: don't ifdef on undefined preprocessor variable; assume Acts >= 37
  scripts/test_ACTS.cxx
Labels: topic: infrastructure
