Repository eic/epic, pull requests merged in 2025-03, with the labels that each got.

#834 Bug fix on Barrel TOF sensors having incorrect segmentation.
  compact/tracking/tof_barrel.xml
  src/BarrelTOFTracker_geo.cpp
Labels: topic: barrel, topic: forward, topic: PID

#837 Add Q3eR field rotation
  compact/far_backward/magnets.xml
Labels: topic: far-backward, topic: magnets

#835 feat: export down to AstroPix chips in EcalBarrelImaging STEP
  .github/workflows/convert-to-step.yml
Labels: topic: infrastructure

#839 add 10x130 interpolated beamline to enable normal usage like other en…
  compact/fields/beamline_10x130.xml
Labels: topic: magnets
