Repository eic/epic, pull requests merged in 2025-02, with the labels that each got.

#824 DIRC: avoid hardcoding number of glued bars
  compact/pid/dirc.xml
  src/DIRC_geo.cpp
Labels: topic: barrel, topic: PID

#827 Update material map
  compact/tracking/definitions_craterlake.xml
Labels: topic: tracking

#832 add scaled field files for the early science magnet settings
  compact/fields/beamline_10x115_Cu63.xml
  compact/fields/beamline_10x115_Ru96.xml
  compact/fields/beamline_10x130.xml
  compact/fields/beamline_10x130_H2.xml
  compact/fields/beamline_10x166_He3.xml
  compact/fields/beamline_10x250.xml
  configurations/craterlake_10x115_Cu63.yml
  configurations/craterlake_10x115_Ru96.yml
  configurations/craterlake_10x130.yml
  configurations/craterlake_10x130_H2.yml
  configurations/craterlake_10x166_He3.yml
  configurations/craterlake_10x250.yml
Labels: topic: magnets
