Repository eic/epic, pull requests merged in 2025-08, with the labels that each got.

#912 fix: put BIC 1st layer in separate envelope for Acts conversion
  .github/workflows/check-tracking-geometry.yml
  compact/ecal/bic/bic.xml
  src/BarrelCalorimeterImaging_geo.cpp
Labels: topic: infrastructure, topic: barrel, topic: calorimetry

#926 Adding eHe3 5x41 and 10x110 configs
  compact/fields/beamline_10x110_He3.xml
  configurations/craterlake_10x110_He3.yml
  configurations/craterlake_5x41_He3.yml
Labels: topic: magnets

#927 Fix typo in 5x41 config
  configurations/craterlake_5x41_He3.yml
Labels: topic: magnets

#931 ci: Add reviewers to GitHub Actions Dependabot config
  .github/dependabot.yml
Labels: topic: infrastructure
