Repository eic/epic, pull requests merged in 2025-09, with the labels that each got.

#928 Add eHe3 Beam Config for 5x41 and 10x110 settings
  compact/fields/beamline_10x110_He3.xml
  configurations/craterlake_10x110_He3.yml
  configurations/craterlake_5x41_He3.yml
Labels: topic: magnets

#941 fix: resolve material map scripts for Acts 39 (v2)
  .github/workflows/linux-eic-shell.yml
  compact/tracking/silicon_disks.xml
  configurations/craterlake_material_map.yml
  scripts/material_map/epic.py
  scripts/material_map/geometry_epic.py
  scripts/material_map/material_mapping_epic.py
  scripts/material_map/material_recording_epic.py
  scripts/material_map/material_validation_epic.py
  scripts/material_map/run_material_map_validation.sh
Labels: topic: infrastructure, topic: tracking

#923 Update the SVT NDisk4 position to -102cm
  compact/tracking/definitions_craterlake.xml
Labels: topic: tracking

#925 Add support materials to FTOF
  compact/tracking/tof_endcap.xml
  src/EndcapTOF_geo.cpp
Labels: topic: PID

#930 MPGD Geo Validation
  compact/tracking/definitions_craterlake.xml
  compact/tracking/mpgd_barrel.xml
  compact/tracking/mpgd_outerbarrel.xml
  src/BarrelPlanarMPGDTracker_geo.cpp
Labels: topic: tracking, topic: barrel, topic: forward, topic: geometry
