Repository eic/epic, pull requests merged in 2025-05, with the labels that each got.

#849 removed correcting tilt, rotation of assembly + automatically reflect
  compact/hcal/backward.xml
  src/PolyhedraEndcapCalorimeter2_geo.cpp
Labels: topic: backward, topic: calorimetry

#856 feat(ci): deploy capybara to pages
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#860 Revert "feat(ci): deploy capybara to pages"
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#842 Central ePIC beam pipe model updates v250331 implementation
  compact/central_beampipe.xml
  compact/definitions.xml
  compact/far_forward/definitions.xml
  compact/far_forward/electron_beamline.xml
  compact/tracking/definitions_craterlake.xml
  configurations/craterlake_material_map.yml
  src/IP6BeamPipe.cpp
  src/magnetVacuumFF.cpp
Labels: topic: infrastructure, topic: tracking, topic: far-forward, topic: magnets

#866 fix: avoid memory leaks in various geometry plugins
  compact/central_beampipe.xml
  src/EndcapFluxReturn_geo.cpp
  src/ForwardRomanPot_geo.cpp
  src/IP6BeamPipe.cpp
Labels: topic: far-forward

#848 Geometry update for barrel TOF
  compact/display_geoviewer.xml
  compact/tracking/definitions_craterlake.xml
  compact/tracking/tof_barrel.xml
  src/BarrelTOFTracker_geo.cpp
Labels: topic: barrel, topic: forward, topic: PID

#867 Centralize IP6 Beampipe constant definitions
  compact/central_beampipe.xml
  compact/definitions.xml
  compact/far_backward/beamline_extension_hadron.xml
  compact/far_backward/definitions.xml
  compact/far_forward/definitions.xml
  templates/epic.xml.jinja2
Labels: topic: far-forward, topic: far-backward

#857 feat(ci): use reusable workflow call for list-open-prs
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#872 Update material map
  compact/tracking/definitions_craterlake.xml
Labels: topic: tracking
