Repository eic/epic, pull requests merged in 2025-06, with the labels that each got.

#875 Partial revert: fix: avoid memory leaks in various geometry plugins
  src/ForwardRomanPot_geo.cpp
Labels: topic: far-forward

#892 fix(ci): don't quote wildcards in upload-artifact
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#883 Reduced grid size of ETOF for realistic position resolution.
  compact/tracking/tof_barrel.xml
  compact/tracking/tof_endcap.xml
Labels: topic: barrel, topic: PID

#710 feat: initial EcalBarrelImagingTracker support
  compact/definitions.xml
  compact/ecal/bic/bic.xml
  compact/ecal/bic/bic_layer1_only.xml
  configurations/craterlake_material_map.yml
  src/BarrelCalorimeterImaging_geo.cpp
Labels: topic: barrel, topic: calorimetry

#899 linux-eic-shell.yml: avoid building container for main branch
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#898 doc: fix tracking_only link in README.md
  README.md
Labels: topic: documentation
