Repository eic/epic, pull requests merged in 2025-04, with the labels that each got.

#843 fix: /work/eic2 -> /volatile/eic
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#846 [Backport 25.04] Add 10 100 ge v e au magnet configuration
  compact/fields/beamline_10x100_Au197.xml
  configurations/craterlake_10x100_Au197.yml
Labels: topic: magnets

#852 fix: remove unplaced DetElement errors
  src/ForwardRomanPot_geo.cpp
  src/PFRICH_geo.cpp
Labels: topic: PID, topic: far-forward

#851 fix: likely typo in PFRICH_geo.cpp
  src/PFRICH_geo.cpp
Labels: topic: PID
